{% extends "createuser/index.html" %}
{% load static %}
{% block contentalbum %}
    <div class="container">
        <div class="bg-light shadow">
            <h3 class="m-3 pt-3">Mis albums</h3>
                <div class="row row-cols-3">
                {% for album in albums %}
                    <div class="col">
                        <a class="btn d-block" >{{ album.name_album }}</a>
                        <img class="mx-auto d-block" src="{% static 'img/carpeta.png' %}">
                        <a class="btn d-inline btn-success mx-1" href="{% url 'displayphoto' album.id %}">Ver</a>
                        <a class="btn d-inline btn-danger" href="{% url 'delete_album' album.id %}">Eliminar</a>
                        
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
