{% extends "createuser/base.html" %}

{% block content %}
<div class="container">
        <div>
            <h1 class="text-center">Created album</h1>
        </div>
    <form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}

        {{form.as_p}}
        <button class="btn btn-success" type="submit">Enviar</button>
    </form>
    <div>
    {% if form.album.errors %}
        {% for error in form.album.errors %}
                <span>{{ error }}</span>
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}